<form action="/form" method="POST">
    <input type="text" name = "nombre" value="<%= @name %>">
    <%# <input type="date">
    <input type="number">
    <input type="file">
    <input type="email">
    <input type="password"> %>
    <input type="submit">
</form>

<ul>
<% @names.each do |name| %>
    <li><%= name %></li>
<% end %>
</ul>